* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  min-width: 120px;
  min-height: 200px;
}

input[type="checkbox"] {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 140px;
  min-height: 200px;
}

#button {
  position: relative;
  display: block;
  width: 105px;
  height: 50px;
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px auto;
}

#knob {
  width: 50px;
  height: 40px;
  background-image: url("images/chimhaba.png");
  background-size: cover;
  position: relative;
  top: 5px;
  left: 5px;
  border-radius: 40px;
  transition: 0.4s ease left, 0.4s ease background-position;
  z-index: 2;
}

#chimha,
#chimba {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}

#chimba {
  margin-left: 60px;
}

#toggle:checked + #button #knob {
  left: 50px;
  background-position: -50px 0;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
